header {
    font-size: 2em;
    position: relative;
    width:100%;
    height:100px;
    letter-spacing: 1px;
    top: 4%;
    background: none;
}

strong {
    color: rgb(83, 121, 122);
    cursor: pointer;
}

/* header 내 카테고리 제목 */
.categoryContainer {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
}

/* 위와 동일한 역할의 박스. 세부적 역할을 위해 나뉘어 놓음*/
.subContainer1,
.subContainer2 {
    /* background-color: yellow; */
    display: flex;
    position: absolute;
    gap: 20px;
    z-index: 1;
}

/* SHOP, BEST, EVENT, COMMUNITY 카테고리들 */
.subContainer1 {
    width: 100%;
    justify-content: center;
    gap: 10%;
}

/* 큰 카테고리들 a 태그 */
.subContainer1 a,
.subContainer2 a {
    color: rgb(83, 121, 122);
    font-size: .8em;
}

/* header에서 SHOP, BEST, EVENT, COMMUNITY 와 우측 검색항목 개별로 묶은 박스  */
.category {
    text-align: center;
}

/* BEST */
.list2 strong {
    color: orange;
}

/* -------------------------마우스 호버했을 때 나오는 리스트들 ---------------------*/
.categoryHover {
    top: 10%;
    visibility: hidden;
    opacity: 0;
}

.categoryHover li {
    margin: 5px;
}

.categoryHover li:hover {
    text-decoration: underline;
    transition: all 1s;
}

.subContainer1:hover .categoryHover {
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

.subContainer1:hover {
    background-color: white;
    height: 250px;
    transition: .3s ease-in-out;
}



/* ------------------ 우측 검색 항목-------------------------------------------- */


/* 검색, 카트, 로그인, 회원가입, 마이페이지 박스 */
.subContainer2 {
    right: 1%;
    top: 0;
}

/* 검색, 카트, 로그인, 회원가입, 마이페이지 리스트 */
.list5 {
    /* background-color: pink; */
    display: flex;
    height: 30px;
    gap: 10px;
}

.list5>li>a:hover {
    opacity: .5;
    transition: all .3s;
}

.list5 a {
    color: rgb(83, 121, 122);
    font-size: .6em;
}

img {
    /* visibility: hidden; */
}

@media ( max-width: 1265px ) {
    .list5 {
        flex-direction: column;
    }
}