*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.main_content_container{
    height: 100vh;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
}

.main_content{
    flex-basis: 720px;
    height: 100%;
    margin: 0 12px;
    padding: 0 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* ------------------header------------------------ */

.main_content_header{
    width: 100%;
    flex-grow: 1;
    background-color: blue;
    opacity: 0.5;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.main_content_header div{
    width: 50%;
    opacity: 0.5;
    flex-grow: 1;
}

/*--------------------- content main------------------ */

.main_content_main{
    width: 100%;
    height: 550px;
    border: 1px solid #e8e8e8;
    /* flex-grow: 1; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------------------정보입력------------------------- */

.content_login_box{
    width: 80%;
    padding: 25px 0;
    flex-grow: 3;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_login_box form{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.content_ID_box,
.content_PW_box,
.content_maintain_box,
.content_btn{
    padding: 10px 0;
    margin: 10px 0;
}

.content_login_box form,
.content_ID_box,
.content_PW_box,
.content_btn,
.content_input,
.content_btn
{
    width: 100%;
}

.content_input{
    height: 50px;
    border: 0;
    border-bottom: 1px solid #c8c8c8;
    font-size: 15px;
    font-weight: bold;
}

.content_btn{
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.main_login{
    color: #e8e8e8;
    background-color: #ff798c;
    border: 0;
}

/* .line_or::after{

} */

.text_or{
    font-size: 15px;
    color: #a8a8a8;
}

/* ----------------------회원가입------------------------- */


.content_join{
    width: 80%;
    flex-grow: 1;
    
    display: flex;
    justify-content: space-between;
}

.content_join a{
    font-weight: bold;
    color: black;
    
}

.find_list{
    display: flex;
    gap: 20px;
}

/* ---------------------footer-------------------------- */

.main_content_footer{
    width: 100%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
}

.content_footer_yakgwan{
    display: flex;
    /* justify-items: flex-start; */
    gap: 5px;

}

.content_footer_yakgwan li{
    font-size: 15px;
    color: black;
    font-weight: bold;
}