*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.main_content_container{
    height: 100vh;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
}

.main_content{
    width: 960px;
    /* flex-basis: 960px; */
    height: 100%;
    margin: 0 12px;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* --------------main_header----------------- */

.main_content_header{
    width: 100%;
    flex-grow: 1;
    background-color: blue;
    opacity: 0.5;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* ----------------main_main------------------ */

.main_content_main{
    width: 100%;
    flex-grow: 10;
}

.main_content_wrap{
    width: 640px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.main_content_wrap h1{
    padding: 20px;
}

/* -----------------필수정보----------- */
.main_content_table{
    border: 1px solid #c8c8c8;
}

th,
td{
    padding: 10px 5px;
}

th{
    text-align: left;
}

input,
select,
button{
    height: 30px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.main_content_wrap form{
    
    flex-grow: 4;

    display: flex;
    flex-direction: column;
}

.required_info,
.user_phnum,
.user_birth{
    border: 0;
    border-bottom: 1px solid #c8c8c8
}

.required_info{
    width: 100%;
}

.mobile_phone{
    display: flex;
    gap: 5px;
}

.mobile_phone select,
.mobile_phone input{
    width: 25%;
    flex-grow: 1;
    
}

.phone_btn{
    background-color: #c798ff;
    margin-left: 5px;
}

.birth_day{
    display: flex;
    justify-content: center;
}

.birth_day input{
    flex-shrink: 1;
}

.choice_gender{
    display: flex;
    align-items: center;
}

.choice_gender span,
.user_gender{
    margin-left: 20px;
}



/* ----------------main_footer----------------- */

.main_content_footer{
    width: 100%;
    flex-grow: 1;
}

/* ---------------------footer-------------------------- */

.main_content_footer{
width: 100%;
flex-grow: 1;

display: flex;
justify-content: center;
}

.content_footer_yakgwan{
display: flex;
/* justify-items: flex-start; */
gap: 5px;

}

.content_footer_yakgwan li{
font-size: 15px;
color: black;
font-weight: bold;
}
