* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

header,
nav,
main,
footer {
  width: 80%;
  margin: auto;
}


@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .page_catagory ul {
    gap: 10px;
  }

}

@media screen and (max-width: 768px) {
  .page_catagory li a {
    font-size: 12px;
  }
}

body {
  font-family: S-CoreDream-3Light;
}

.community_head {
  background-color: rgb(223, 233, 232);
  font-weight: bolder;
  font-size: 2em;
}

.community_contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_catagory>ul {
  padding-bottom: 30px;
}

.page_catagory>ul {
  margin-top: 40px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.page_catagory li {
  display: flex;
  width: 10%;
  justify-content: center;
}

.page_catagory li a {
  text-decoration: none;
}

.page_catagory li a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100px;
  line-height: 40px;
  border-radius: 30px;
  background-color: white;
}

.page_catagory li a:hover {
  background-color: #477A7B;
  color: white;
}

article {
  margin: 50px 0px 30px;
  display: flex;
  flex-direction: column;
}

.write_space {
  margin: auto;
  min-width: 1024px;
}

th {
  display: inline-block;
  margin-right: 30px;
  line-height: 40px;
}

textarea {
  resize: none;
  width: 100%;
  margin-top: 5px;
  outline: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: S-CoreDream-3Light;
}

select {
  padding: 0 10px;
  color: #477A7B;
  border: 0;
  width: 800px;
  background-color: #dfe9e8;
  min-height: 40px;
  outline: none;
}

.password {
  outline: none;
  background-color: #dfe9e8;
  padding: 6px;
  border: none;

}

option {
  padding: 10px;
}

.button {
  margin-top: 10px;
  padding: 10px 0;
  width: 100%;
  text-align: right;
}

.button a {
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 7px;
}

.button button {
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 7px;
  background-color: #477A7B;
  color: white;
}

.button .list {
  background-color: white;
  color: #477A7B;
}

.button .confirm {
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 7px;
  background-color: #477A7B;
  color: white;
}