* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

header,
nav,
main,
footer {
  width: 80%;
  margin: auto;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 1640px) {
  .goodsinfo li:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 1225px) {
  .goodsinfo li:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .page_catagory ul {
    gap: 10px;
  }

  .disappear {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .goodsinfo li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .page_catagory li a {
    font-size: 12px;
  }

  .disappear2 {
    display: none;
  }

  .goodshead,
  .goodsinfo li {
    display: none;
  }

  .reviewlist li {
    width: 250px;
  }

  .img_container img {
    width: 250px;
    height: 250px;
  }

  form:hover {
    width: 100px;
  }
}

body {
  font-family: S-CoreDream-3Light;
}

.community_head {
  background-color: rgb(223, 233, 232);
  font-weight: bolder;
  font-size: 2em;
}

.community_contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_catagory>ul {
  padding-bottom: 30px;
}

.page_catagory>ul {
  margin-top: 40px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.page_catagory li {
  display: flex;
  width: 10%;
  justify-content: center;
}

.page_catagory li a {
  text-decoration: none;
}

.page_catagory li a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100px;
  line-height: 40px;
  border-radius: 30px;
  background-color: white;
}

.page_catagory li .review {
  background-color: #477A7B;
  color: white;
}

.page_catagory li a:hover {
  background-color: #477A7B;
  color: white;
}

article {
  margin: 50px 0px 30px;
  display: flex;
  flex-direction: column;
}

/* 상품 후기 부분 */
.goodshead {
  font-size: 2em;
  text-align: center;
  margin: 10px 0 10px;
}

.goodsinfo {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.goodsinfo li {
  margin: 5px 0 5px;
}

.goodsinfo .img_container {
  display: flex;
  justify-content: center;
}

.goodsinfo .img_container>img {
  width: 100%;
  height: 100%;
}

.goodsinfo li {
  border: 1px solid rgb(223, 228, 234);
  border-radius: 4px;
}

.goodsinfo li a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.goodsinfo li .username {
  padding: 0 10px 0;
  color: gray;
}

.review_target {
  display: flex;
}

.review_target .user_rank {
  font-size: 12px;
  padding: 0px 10px 10px;
}

.review_targetimg {
  width: 50px;
  height: 50px;
}

/*==================== 리뷰 부분 =============*/
.reviewhead {
  font-size: 1.3em;
}

.reviewhr {
  margin: 12px 0px 30px;
  border-color: black;
  border-width: 1px;
}

.reviewtools {
  display: flex;
  margin-bottom: 20px;
}

.reviewtools i {
  width: auto;
  height: auto;
}

form {
  position: relative;
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 3px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa-sharp {
  box-sizing: border-box;
  padding: 12px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #477A7B;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover,
form:valid {
  width: 400px;
  cursor: pointer;
  border: 3px solid #477A7B;
}

form:hover input,
form:valid input {
  display: block;
}

form:hover .fa-sharp,
form:valid .fa-sharp {
  background: #477A7B;
  color: white;
}

.reviewtoolsleft {
  display: flex;
  margin-left: auto;
  gap: 20px;
  cursor: pointer;
  color: gray;
}

.reviewtoolsleft a {
  text-decoration: none;
  color: gray;
}

.write a {
  text-decoration: none;
  color: gray;
}

.write a:hover {
  color: black;

}

.reviewtoolsleft a:hover {
  color: black;
}

.reviewlist {
  display: flex;
  margin-top: 100px;
}

.reviewlist ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  justify-content: center;
}

.reviewlist li {
  border: 1px solid rgb(223, 228, 234);
  border-radius: 4px;
}


.reviewlist li .img_container {
  display: flex;
  justify-content: center;
}

.img_container img {
  width: 300px;
  height: 300px;
  border-radius: 4px;
}

.reviewlist li a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.reviewlist li .username {
  padding: 0 10px 0;
  color: gray;
}

.review_target {
  display: flex;
}

.review_target .user_rank {
  font-size: 12px;
  padding: 0px 10px 10px;
}

.review_targetimg {
  width: 50px;
  height: 50px;
}

.page {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: center;
  gap: 20px;
}

.page a {
  text-decoration: none;
  color: black;
}