* {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}

main {
  margin: auto;
  width: 80%;
}

.goodshead {
  font-size: 2em;
  text-align: center;
  margin: 10px 0 10px;
}

.goodsinfo {
  display: flex;
  flex-direction: row;
  border: solid 2px gray;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}

.goodsinfo li {
  width: 60px;
  height: 80px;
}

.reviewhead {
  font-size: 1.3em;
}

.reviewhr {
  margin: 12px 0px 30px;
  border-color: black;
  border-width: 1px;
}

.reviewtools {
  display: flex;
  margin-bottom: 20px;
}

.reviewtools i {
  width: auto;
  height: auto;
}

.reviewtoolsleft {
  display: flex;
  margin-left: auto;
  gap: 20px;
  cursor: pointer;
  color: gray;
}

.reviewlist {
  display: flex;
  margin-top: 100px;
}

.reviewlist ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 200px;
  justify-content: center;
}

.reviewlist li a {
  width: 200px;
  height: 200px;
}