* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

header,
nav,
main,
footer {
  width: 80%;
  margin: auto;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: S-CoreDream-3Light;
}

.community_head {
  background-color: antiquewhite;
  font-weight: bolder;
  font-size: 2em;
}

.community_contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_catagory>ul {
  padding-bottom: 30px;
}

.page_catagory>ul {
  margin-top: 40px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.page_catagory li {
  display: flex;
  width: 10%;
  justify-content: center;
}

.page_catagory li a {
  text-decoration: none;
}

.page_catagory li a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100px;
  line-height: 40px;
  border-radius: 30px;
  background-color: aqua;
}

.page_catagory li a:hover {
  background-color: yellow;
}

article {
  margin: 50px 0px 30px;
  display: flex;
  flex-direction: column;
}

/* 상품 후기 부분 */
.goodshead {
  font-size: 2em;
  text-align: center;
  margin: 10px 0 10px;
}

.goodsinfo {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.goodsinfo li {
  margin: 5px 0 5px;
}

.goodsinfo .img_container {
  display: flex;
  justify-content: center;
}

.goodsinfo .img_container>img {
  width: 100%;
  height: 100%;
}

.goodsinfo li {
  border: 1px solid rgb(223, 228, 234);
  border-radius: 4px;
}

.goodsinfo li a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.goodsinfo li .username {
  padding: 0 10px 0;
  color: gray;
}

.review_target {
  display: flex;
}

.review_target .user_rank {
  font-size: 12px;
  padding: 0px 10px 10px;
}

.review_targetimg {
  width: 50px;
  height: 50px;
}

/*==================== 리뷰 부분 =============*/
.reviewhead {
  font-size: 1.3em;
}


.reviewhr {
  margin: 12px 0px 30px;
  border-color: black;
  border-width: 1px;
}

.reviewtools {
  display: flex;
  margin-bottom: 20px;
}

.reviewtools i {
  width: auto;
  height: auto;
}


.reviewtoolsleft {
  display: flex;
  margin-left: auto;
  gap: 20px;
  cursor: pointer;
  color: gray;
}

.reviewtoolsleft a {
  text-decoration: none;
  color: gray;
}

.reviewtoolsleft a:hover {
  color: black;
}

.reviewlist {
  display: flex;
  margin-top: 100px;
}

.reviewlist ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  justify-content: center;
}

.reviewlist li {
  border: 1px solid rgb(223, 228, 234);
  border-radius: 4px;
}


.reviewlist li .img_container {
  display: flex;
  justify-content: center;
}

.img_container img {
  width: 300px;
  height: 300px;
  border-radius: 4px;
}

.reviewlist li a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.reviewlist li .username {
  padding: 0 10px 0;
  color: gray;
}

.review_target {
  display: flex;
}

.review_target .user_rank {
  font-size: 12px;
  padding: 0px 10px 10px;
}

.review_targetimg {
  width: 50px;
  height: 50px;
}

.page {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: center;
  gap: 20px;
}

.page a {
  text-decoration: none;
  color: black;
}