* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

header,
nav,
main,
footer {
  width: 80%;
  margin: auto;
}


@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .page_catagory ul {
    gap: 10px;
  }

  .disappear {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .page_catagory li a {
    font-size: 12px;
  }

  .disappear2 {
    display: none;
  }
}

body {
  font-family: S-CoreDream-3Light;
}

.community_head {
  background-color: rgb(223, 233, 232);
  font-weight: bolder;
  font-size: 2em;
}

.community_contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_catagory>ul {
  padding-bottom: 30px;
}

.page_catagory>ul {
  margin-top: 40px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.page_catagory li {
  display: flex;
  width: 10%;
  justify-content: center;
}

.page_catagory li .Q_A {
  background-color: #477A7B;
  color: white;
}

.page_catagory li a {
  text-decoration: none;
}

.page_catagory li a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100px;
  line-height: 40px;
  border-radius: 30px;
  background-color: white;
}

.page_catagory li a:hover {
  background-color: #477A7B;
  color: white;
}

article {
  margin: 50px 0px 30px;
  display: flex;
  flex-direction: column;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

tbody td a {
  text-decoration: none;
  color: black;
}

main .board_table {
  width: 60vw;
  border-top: 3px solid #bbbbbb;
  cursor: pointer;
  text-align: center;
  border-collapse: collapse;
}

main .board_table th {
  border-bottom: 1px solid #bbbbbb;
  line-height: 5vh;
}

main .board_table td {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgb(244, 244, 244);
}

main .board_table td a {
  text-decoration: none;
  color: black;
}

main .board_table p {
  background-color: #477A7B;
  color: white;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 20px;
  display: inline-block;
}

.write {
  /* display: flex;
  flex-direction: row-reverse; */
  text-align: right;
  width: 90%;
  margin-top: 30px;
}

.write a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: #477A7B;
  border-radius: 10px;
  font-weight: bold;
}

.write a:hover {
  color: white;
  font-weight: bold;
}

.page {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: center;
  gap: 20px;
}

.page a {
  text-decoration: none;
  color: black;
}