* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

nav,
main{
  width: 80%;
  margin: auto;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .page_catagory ul {
    gap: 10px;
  }

  .notic {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .page_catagory li a {
    font-size: 12px;
  }

  .menucategory ul li {
    font-size: 14px;
  }
}

body {
  font-family: S-CoreDream-3Light;
}

article {
  margin: 100px 0px 30px;
  display: flex;
  flex-direction: column;
}

.community_head {
  background-color: rgb(223, 233, 232);
  font-weight: bolder;
  font-size: 2em;
}

.community_contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_catagory>ul {
  padding-bottom: 30px;
}

.page_catagory>ul {
  margin-top: 40px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.page_catagory li {
  display: flex;
  width: 10%;
  justify-content: center;
}

.page_catagory li a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100px;
  line-height: 40px;
  border-radius: 30px;
  background-color: white;
}

.page_catagory li a:hover {
  background-color: #477A7B;
  color: white;
}

.menucategory ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menucategory ul li {
  border-bottom: solid 1px white;
  flex-basis: 100px;
  text-align: center;

}

.menucategory ul li:hover {
  font-weight: bold;
  box-sizing: border-box;
  border-bottom: solid 1px black;
}

.menucategory ul li a {
  color: black;
  padding: 10px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}


/* ============================================= */

.notice p {
  color: #333;
}

.notice {
  margin: 60px auto;
  font-size: 14px;
  width: 70em;
}

.service_container {
  position: relative;
  width: 50%;
}

.service_header {
  font-size: 18px;
  line-height: 50px;
  background: #97a8869c;
  border-bottom: 1px solid #542437;
  color: #542437;
  font-weight: 700;
  cursor: pointer;
}

.service_body {
  padding: 10px;
  font-size: 15px;
  overflow: hidden;
  background-color: #f8f8f8;
  transition: all .5s;
}

.hidden .service_body {
  display: none;
}