footer {
  margin: 0 auto;
  padding: 8px;
  font-size: 1.1em;
  background-color: rgb(83, 121, 122, 0.7);
  color: white;
}

footer pre {
  font-family: "GimpoGothicRegular00";
  margin-left: 10em;
}

footer p {
  text-align: center;
}

@font-face {
  font-family: "GimpoGothicRegular00";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicRegular00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}